.card-width {
    max-width: 18rem;
}

.carousel-image-one {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px
}

.carousel-image-two {
    object-fit: cover;
    height: 400px
}

.pacific-title {
    font-family: 'Pacifico', cursive;
}

.darkred-text {
    color: darkred;
}

.darkred-button {
    background-color: darkred;
    color: white;
}

.darkred-border {
    border-color: darkred;
}

.card-image-position {
    object-fit: cover;
    height: 200px;
}