.carousel-image-one {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px
}

.carousel-image-two {
    object-fit: cover;
    height: 400px
}

.pacific-title {
    font-family: 'Pacifico', cursive;
}

.red-text {
    color: darkred;
}